# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# emacs temp files
*~

# codeblocks files
*.layout

# eclipse
.project
.cproject
.settings

# output
kinect-relay