# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# emacs temp files
*~

# codeblocks files
*.layout

# eclipse
.project
.cproject
.settings

# output
kinectd
testclient

#autotools stuff
.deps
.dirstamp
Makefile
Makefile.in
README
aclocal.m4
autom4te.cache
config.h
config.h.in
config.status
configure
depcomp
install-sh
missing
stamp-h1
config.log
.autotools